#box {
    padding: 20px;
    text-align: center;
    border: 2px solid black; /* Bordure par défaut */
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
}

.bleu { border-color: blue !important; }
.vert { border-color: green !important; }
.orange { border-color: orange !important; }
.rouge { border-color: red !important; }

#source { font-weight: bold; min-height: 20px; }